function sum(list) {
  var total = 0
  for (var i = 0; i < list.length; i++) {
    if (list[i].checked) {
      total += list[i].goods.price * list[i].number
    }
  }
  return total
}

function checked(list) {
  if (list.length === 0) {
    return false
  }
  return list.every(function (item) {
    return item.checked === true
  })
}

module.exports = {
  sum: sum,
  checked: checked
}